extends layout

block content
  h1(class="text-2xl")= title

  if message 
    h1= message

  if !user 
    form(method='POST' action='')
      div.form-group
        label(for='username') Username: 
        input#username.form-control(type='text' placeholder='a@gmail.com' name='username' )

        label(for='password') Password: 
        input#password.form-control(type='text' placeholder='password' name='password' )

      button.btn.btn-primary(type='submit') Submit
  else
    if messages 
      ul
        each post in messages 
          if user.isMember
            li(class='flex')
              div 
                h3= post.title
                div=  'by ' + post.user.firstName + ' ' + post.user.lastName
                div= post.date_created_formatted
              p= post.content
              if user.isAdmin 
                a(href= post.url + '/delete') Delete post
          else 
            li 
              div 
                h3= post.title 
              p= post.content 

    a(href='/logout') Log out 

    a(href='/create-post') Create post 
